


/* ############################################################################################### */

:root { font-size: 16px }
@media (max-width: 500px) { :root { font-size: 14px } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background: #87cd33;
  color:white;
}

body {
  overflow: hidden;
/*  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;*/
  background-color: #3c3a36;
  font-family: "Quicksand", monospace, sans-serif;
}



#videoBG {
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

@media (min-aspect-ratio: 16/9){
    #videoBG {
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9){
    #videoBG {
        width: auto;
        height: 100%;
    }
}


/*
.video-background {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
    z-index: -1;
}

#container {
  height: 500vh;
}
*/



h1 { 
  font-size: 5rem;
    color: orange;
}
h2 { font-size: 2rem }

img {
  width: 100%;
  height: 500px;
/*    opacity: 0.7;*/
}

ul {
  padding-left: 1rem;
  list-style: none;
}

li {
  flex-shrink: 0;
/*  width: clamp(500px, 60vw, 800px);*/
  padding-right: 1rem;
}

header {height: 100vh}
footer {height: 50vh}

footer p {
    font-size:1.52rem;
    font-weight: bold;
}

:any-link { color: orange; }

.df {
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  color: white;
}

.main-content {
  overflow-x: hidden;
}

.wrapper {
  display: flex;
}

.img-gallery:not(.last) {
  padding-bottom: 1rem;
}

.label-text .text {
  font-size: clamp(5rem, 6vw, 6rem);
  line-height: 1;
  font-weight: 900;
}

/*/############   old movie style  ##*/

#title{  opacity:0.7;}


/* hide background video play button on iphone an others */
/* This used to work for the parent element of button divs */
/* But it does not work with newer browsers, the below doesn't hide the play button parent div */

*::-webkit-media-controls-panel {
  display: none!important;
  -webkit-appearance: none;
}

/* Old shadow dom for play button */

*::-webkit-media-controls-play-button {
  display: none!important;
  -webkit-appearance: none;
}

/* New shadow dom for play button */

/* This one works! */

*::-webkit-media-controls-start-playback-button {
  display: none!important;
  -webkit-appearance: none;
}