// temp styles at top
.mb-1,.mb-2,.mb-3,.mb-4,.mb-5,.mb-6,.mb-7,.mb-8,.mb-9,.mb-10,.mb-11,.mb-12 {
//    border: solid 1px;
}
div {
//    border: solid 1px red;
}
// end temp

$mainColour:#335e77;
$secondaryColour:#39907c;

$warmLightColour:#ffd500;
$warmMediumColour:#ff0055;

$mediumColour:#9d9d95;

//#335e77
//#39907c

$darkColour:#222;
$lightColour:#f8f9fa;

//#f8f9fa!important
//#f8f9fa;

$sectionTitleFontSize:0.8em;
$sectionTitleFontWeight:800;
$sectionTitleFontFace:'Quicksand', monospace, sans-serif;
$sectionSubtitleFontFace: 'Quicksand', monospace, sans-serif;
$sectionSubtitleFontWeight:800;

$list1: $mainColour,$secondaryColour;

$list2: $warmLightColour,$warmMediumColour;

@mixin gradient($direction, $list) { 
  background: -webkit-linear-gradient($direction, $list);
}

body {
    background-color: $lightColour;
    font-family:$sectionTitleFontFace;
}

.container {
//background:inherit;
//display: flex;
}

.intro-section {
    padding-top: 3rem;
    padding-bottom: 0;
    margin-bottom: 0;
    
    //background-color: $mainColour;
   @include gradient(right, $list1);    
}

.intro-section .container, .intro-section .row {
    background-image: none;
}

.content-section .about {
    background-image: url('../img/portrait.jpg');
    background-position-y: -70px;
}

.light {
    color:$warmLightColour;
}



@media (min-width: 768px) {
  .intro-section {
    padding-top: 3rem;
    padding-bottom: 0;
  }
}

//fix svg divider gap
@media (max-width: 576px) {
    .section-divider {
        vertical-align: bottom;
    }
}

.bg-light {
    background: $lightColour;
}

.bg-primary {
    background-color: $mainColour  !important;
    
    .container {
        color: $lightColour;
    }
}

.bg-dark {
    background-color: $darkColour !important;
    
    .container {
        color: $lightColour;
    }
}

.bg-medium {
    background-color: $mediumColour !important;
    
    .container {
        color: $lightColour;
    }
}


.intro-section h1 {
    font-weight: 700;
    font-size: 4em;
    color: $lightColour;
}

a.scroll svg {
    position: absolute;
    right: 5px;
    bottom: 150px;
}

.svg-inline--fa {
    height: 100px;
    overflow: hidden;
    display: inline-block; 
}

/* from old */
.svg-inline--fa.fa-w-14 {
    width: .895em;
    color: #000;
}
/* end of from old */

/* from hero.css */
.hero__bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 150px;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
    z-index: 2;
}

.hero-triangle {
    fill:$lightColour;
    stroke-width:0px;
}

.hero-triangle-primary {
    fill:$mainColour;
}

.hero-triangle-dark {
    fill:$darkColour;
}

.hero-triangle-medium {
    fill:$mediumColour;
}

.intro-section .container {
    height: 360px;
}

#section-1 {
    height: 45em;
    padding-top: 2em;
}

//@media (max-width: 576px){
//   #section-1 {
//    height: 59em;
//       
//       .image-holder {
//           display: none;
//       }
//    }
//}

@media (max-width: 768px){
   #section-1 {
    height: 59em;
       
       .image-holder {
           display: none;
       }
    }
    
    #section-2 .col-md-1 {
        height: 7em;
        }
    #section-5 h2.title-vertical-right {
        margin: 0;
    }
    #section-6 h2.title-vertical-left {
        margin-top: 0;
    }
    
}


 @media (min-width: 768px) {
     #section-1 .mb-6 {
        min-height: 390px;
     }
}

#section-2, #section-3, #section-4, #section-5, #section-6 {
    min-height: 420px;
    padding-top: 2em;
}

#section-3 {
    min-height: 359px;
}

#section-3 .float-md-right {
    padding-left: 7em;
    margin-top: -1em;
}


#section-4 {
    min-height: 500px;
}


.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
      }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
        }

      }

// text styles

.title {
    font-size:$sectionTitleFontSize;
    font-weight:$sectionTitleFontWeight;
    font-family:$sectionTitleFontFace;
}

.title-vertical-left {
    transform: rotate(-90deg);
    font-size:$sectionTitleFontSize;
    font-weight:$sectionTitleFontWeight;
    font-family:$sectionTitleFontFace;
    margin-left: -172px;
    margin-top: 85px;
}

#section-1 .title-vertical-left  {
    margin-left: -115px;
    margin-top: 120px;
}

#section-4 .title-vertical-left {
//    margin-top: 15px;
    margin-top: 75px;
    margin-left: -53px;
    min-width: 250px;
}

@media (max-width: 768px){
    .title-vertical-left, .title {
//        transform: none;
        font-size: 0.5em;
        width: 45%;
    }
}

.title-vertical-right {
    transform: rotate(-90deg);
    font-size:$sectionTitleFontSize;
    font-weight:$sectionTitleFontWeight;
    font-family:$sectionTitleFontFace;
    margin-left: 18px;
    margin-top: 68px;
    text-align: right;
    width: 6em;
}

@media (max-width: 776px){
    .title-vertical-left, .title-vertical-right  {
        transform: none;
        display: inline-block;
        margin:0;
        left: 0;
        font-size: 0.5em;
        width: 45%;
    }
    
    #section-1 .title-vertical-left  {
    margin-left: 0;
    margin-top: 0;
    }
}


#section-5 .title-vertical-right {
     margin-top: 129px;
}

#section-6 .title-vertical-left {
     margin-left: -3px;
    margin-top: 113px;
}

h2 {
    font-family:$sectionSubtitleFontFace;
    font-weight:$sectionSubtitleFontWeight;
}

.display-5 {
    font-size:1.2em;
}

.subtitle-vertical-left {
    transform: rotate(-90deg);
    transform-origin: bottom;
    @include gradient(right, $list1);
    width: 12em;
    margin: 5em 0px 0px -3em;
    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 25pt;
    text-align: right;
}

@media (max-width: 576px){
    .subtitle-vertical-left {
    margin: 0;
    font-size:0.3em;
    }
}

@media (max-width: 768px){
    .subtitle-vertical-left {
    transform:none;
    margin: 0;
    font-size:0.3em;
    width:22em;
    }
}

@media (min-width: 768px){
    #subtitle-1 {
        margin-top: -50px;
    }
}

.sideways-list {
    transform: rotate(-90deg);
    transform-origin: left;
    text-align: right;
    width: 2.8em;
    font-size: 1.5em;
    margin-left: 5em;
    margin-top: 5.5em;
}

.sideways-list li {
    border: none;
    background: transparent;
     text-align: right;
    width: 7.8em;
    font-size: 0.75em;
    margin-left: 12px;
    list-style: none;
    display: block;
}

.sideways-list li a {
    color: inherit;
}

//move colomn behind sideways column so links work
.behind {
    z-index: -1;
}

/* fix vertical text issues */
.mb-3 {
    height: 100%;
}

.image-holder {
    display: block;
}

.image-left {
    width: 50%;
}

.image-right {
    width: 50%;
    float: right;
    clear: left;
}

.image-row {
    height: 33%;
    overflow: hidden;
}

.image-our-work-1 {
    height: 20em;
}

.work-item {
    height: 35em;
}


//my skills section

/* box - skills bit */
[hidden] {
  display: none;
}

//my work section
// -- slick carousel
    .slider {
        width: 80%;
        margin: 0;
    }

    .slick-slide {
      margin: 0px 20px;
    }

    .slick-slide img {
      width: 100%;
    }

    .slick-prev:before,
    .slick-next:before {
      color: black;
    }


    .slick-slide {
      transition: all ease-in-out .3s;
      opacity: .2;
    }
    
    .slick-active {
      opacity: .5;
    }

    .slick-current {
      opacity: 1;
    }


//contact
.footer-menu-wrapper ul {
    list-style: none;
    display: flex;
    padding: 0;
    }

.footer-menu-wrapper ul li {
    padding-right: 1em;
    font-size: 2em;
}

.footer-menu-wrapper ul li a {
     @include gradient(right, $list2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer-menu-wrapper a:hover {
     text-decoration: underline;
}