/* line 27, /Users/benbayliss/Documents/websites/website2020/website-mockup/css/styles.scss */
body {
  background-color: #f8f9fa;
  font-family: 'Quicksand', sans-serif;
}

/* line 32, /Users/benbayliss/Documents/websites/website2020/website-mockup/css/styles.scss */
.container {
  background: inherit; }

/* line 36, /Users/benbayliss/Documents/websites/website2020/website-mockup/css/styles.scss */
.intro-section {
  padding-top: 3rem;
  padding-bottom: 0;
  margin-bottom: 0;
  background: -webkit-linear-gradient(right, #335e77, #39907c); }

/* line 45, /Users/benbayliss/Documents/websites/website2020/website-mockup/css/styles.scss */
.intro-section .container, .intro-section .row {
  background-image: none; }

@media (min-width: 768px) {
  /* line 50, /Users/benbayliss/Documents/websites/website2020/website-mockup/css/styles.scss */
  .intro-section {
    padding-top: 6rem;
    padding-bottom: 0; } }

@media (max-width: 576px) {
  /* line 58, /Users/benbayliss/Documents/websites/website2020/website-mockup/css/styles.scss */
  .section-divider {
    vertical-align: bottom; } }

/* line 63, /Users/benbayliss/Documents/websites/website2020/website-mockup/css/styles.scss */
.bg-light {
  background: #f8f9fa; }

/* line 67, /Users/benbayliss/Documents/websites/website2020/website-mockup/css/styles.scss */
.bg-primary {
  background-color: #335e77 !important; }
  /* line 70, /Users/benbayliss/Documents/websites/website2020/website-mockup/css/styles.scss */
  .bg-primary .container {
    color: #f8f9fa; }

/* line 75, /Users/benbayliss/Documents/websites/website2020/website-mockup/css/styles.scss */
.bg-dark {
  background-color: #222 !important; }
  /* line 78, /Users/benbayliss/Documents/websites/website2020/website-mockup/css/styles.scss */
  .bg-dark .container {
    color: #f8f9fa; }

/* line 83, /Users/benbayliss/Documents/websites/website2020/website-mockup/css/styles.scss */
.intro-section h1 {
  font-weight: 700;
  font-size: 4em;
  color: #f8f9fa; }

/* line 89, /Users/benbayliss/Documents/websites/website2020/website-mockup/css/styles.scss */
a.scroll svg {
  position: absolute;
  right: 5px;
  bottom: 150px; }

/* line 95, /Users/benbayliss/Documents/websites/website2020/website-mockup/css/styles.scss */
.svg-inline--fa {
  height: 100px;
  overflow: hidden;
  display: inline-block; }

/* from huddled */
/* line 102, /Users/benbayliss/Documents/websites/website2020/website-mockup/css/styles.scss */
.svg-inline--fa.fa-w-14 {
  width: .895em;
  color: #000; }

/* end of from huddled */
/* from hero.css */
/* line 109, /Users/benbayliss/Documents/websites/website2020/website-mockup/css/styles.scss */
.hero__bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 150px;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
  z-index: 2; }

/* line 120, /Users/benbayliss/Documents/websites/website2020/website-mockup/css/styles.scss */
.hero-triangle {
  fill: #f8f9fa;
  stroke-width: 0px; }

/* line 125, /Users/benbayliss/Documents/websites/website2020/website-mockup/css/styles.scss */
.hero-triangle-primary {
  fill: #335e77; }

/* line 129, /Users/benbayliss/Documents/websites/website2020/website-mockup/css/styles.scss */
.hero-triangle-dark {
  fill: #222; }

/* line 134, /Users/benbayliss/Documents/websites/website2020/website-mockup/css/styles.scss */
.intro-section .container {
  height: 500px; }

/* line 138, /Users/benbayliss/Documents/websites/website2020/website-mockup/css/styles.scss */
#section-1 {
  height: 45em;
  padding-top: 2em; }

@media (max-width: 768px) {
  /* line 154, /Users/benbayliss/Documents/websites/website2020/website-mockup/css/styles.scss */
  #section-1 {
    height: 59em; }
    /* line 157, /Users/benbayliss/Documents/websites/website2020/website-mockup/css/styles.scss */
    #section-1 .image-holder {
      display: none; }
  /* line 162, /Users/benbayliss/Documents/websites/website2020/website-mockup/css/styles.scss */
  #section-2 .col-md-1 {
    height: 7em; }
  /* line 165, /Users/benbayliss/Documents/websites/website2020/website-mockup/css/styles.scss */
  #section-5 h2.title-vertical-right {
    margin: 0; }
  /* line 168, /Users/benbayliss/Documents/websites/website2020/website-mockup/css/styles.scss */
  #section-6 h2.title-vertical-left {
    margin-top: 0; } }

@media (min-width: 768px) {
  /* line 176, /Users/benbayliss/Documents/websites/website2020/website-mockup/css/styles.scss */
  #section-1 .mb-6 {
    min-height: 390px; } }

/* line 181, /Users/benbayliss/Documents/websites/website2020/website-mockup/css/styles.scss */
#section-2, #section-3, #section-4, #section-5, #section-6 {
  min-height: 420px;
  padding-top: 2em; }

/* line 186, /Users/benbayliss/Documents/websites/website2020/website-mockup/css/styles.scss */
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

@media (min-width: 768px) {
  /* line 196, /Users/benbayliss/Documents/websites/website2020/website-mockup/css/styles.scss */
  .bd-placeholder-img-lg {
    font-size: 3.5rem; } }

/* line 204, /Users/benbayliss/Documents/websites/website2020/website-mockup/css/styles.scss */
.title {
  font-size: 0.8em;
  font-weight: 800;
  font-family: "Quicksand", monospace, sans-serif; }

/* line 210, /Users/benbayliss/Documents/websites/website2020/website-mockup/css/styles.scss */
.title-vertical-left {
  transform: rotate(-90deg);
  font-size: 0.8em;
  font-weight: 800;
  font-family: "Quicksand", monospace, sans-serif;
  margin-left: -172px;
  margin-top: 85px; }

/* line 219, /Users/benbayliss/Documents/websites/website2020/website-mockup/css/styles.scss */
#section-1 .title-vertical-left {
  margin-left: -115px;
  margin-top: 120px; }

/* line 224, /Users/benbayliss/Documents/websites/website2020/website-mockup/css/styles.scss */
#section-4 .title-vertical-left {
  margin-top: 15px; }

@media (max-width: 768px) {
  /* line 229, /Users/benbayliss/Documents/websites/website2020/website-mockup/css/styles.scss */
  .title-vertical-left, .title {
    font-size: 0.5em;
    width: 45%; } }

/* line 236, /Users/benbayliss/Documents/websites/website2020/website-mockup/css/styles.scss */
.title-vertical-right {
  transform: rotate(-90deg);
  font-size: 0.8em;
  font-weight: 800;
  font-family: "Quicksand", monospace, sans-serif;
  margin-left: 18px;
  margin-top: 68px;
  text-align: right;
  width: 6em; }

@media (max-width: 776px) {
  /* line 248, /Users/benbayliss/Documents/websites/website2020/website-mockup/css/styles.scss */
  .title-vertical-left, .title-vertical-right {
    transform: none;
    display: inline-block;
    margin: 0;
    left: 0;
    font-size: 0.5em;
    width: 45%; }
  /* line 257, /Users/benbayliss/Documents/websites/website2020/website-mockup/css/styles.scss */
  #section-1 .title-vertical-left {
    margin-left: 0;
    margin-top: 0; } }

/* line 264, /Users/benbayliss/Documents/websites/website2020/website-mockup/css/styles.scss */
#section-5 .title-vertical-right {
  margin-top: 129px; }

/* line 268, /Users/benbayliss/Documents/websites/website2020/website-mockup/css/styles.scss */
#section-6 .title-vertical-left {
  margin-left: -3px;
  margin-top: 113px; }

/* line 273, /Users/benbayliss/Documents/websites/website2020/website-mockup/css/styles.scss */
h2 {
  font-family: "Quicksand", monospace, sans-serif;
  font-weight: 800; }

/* line 278, /Users/benbayliss/Documents/websites/website2020/website-mockup/css/styles.scss */
.display-5 {
  font-size: 1.2em; }

/* line 282, /Users/benbayliss/Documents/websites/website2020/website-mockup/css/styles.scss */
#section-6 .display-5 {
  margin-left: 0.7em; }

/* line 286, /Users/benbayliss/Documents/websites/website2020/website-mockup/css/styles.scss */
.subtitle-vertical-left {
  transform: rotate(-90deg);
  transform-origin: bottom;
  background: -webkit-linear-gradient(right, #335e77, #39907c);
  font-size: 0.4em;
  width: 14em;
  margin: 5em 0px 0px -3em;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

@media (max-width: 576px) {
  /* line 301, /Users/benbayliss/Documents/websites/website2020/website-mockup/css/styles.scss */
  .subtitle-vertical-left {
    margin: 0;
    font-size: 0.3em; } }

@media (max-width: 768px) {
  /* line 308, /Users/benbayliss/Documents/websites/website2020/website-mockup/css/styles.scss */
  .subtitle-vertical-left {
    transform: none;
    margin: 0;
    font-size: 0.3em;
    width: 22em; } }

@media (min-width: 768px) {
  /* line 317, /Users/benbayliss/Documents/websites/website2020/website-mockup/css/styles.scss */
  #subtitle-1 {
    margin-top: -50px; } }

/* line 322, /Users/benbayliss/Documents/websites/website2020/website-mockup/css/styles.scss */
ul.sideways-list {
  transform: rotate(-90deg);
  transform-origin: left;
  text-align: right;
  height: 15em;
  width: 7.8em;
  font-size: 1.5em;
  line-height: 2em;
  margin-left: 168px; }

/* line 334, /Users/benbayliss/Documents/websites/website2020/website-mockup/css/styles.scss */
.behind {
  z-index: -1; }

/* fix vertical text issues */
/* line 340, /Users/benbayliss/Documents/websites/website2020/website-mockup/css/styles.scss */
.mb-3 {
  height: 100%; }

/* line 345, /Users/benbayliss/Documents/websites/website2020/website-mockup/css/styles.scss */
.image-holder {
  display: block; }

/* line 349, /Users/benbayliss/Documents/websites/website2020/website-mockup/css/styles.scss */
.image-left {
  width: 50%; }

/* line 353, /Users/benbayliss/Documents/websites/website2020/website-mockup/css/styles.scss */
.image-right {
  width: 50%;
  float: right;
  clear: left; }

/* line 359, /Users/benbayliss/Documents/websites/website2020/website-mockup/css/styles.scss */
.image-row {
  height: 33%;
  overflow: hidden; }

/* line 364, /Users/benbayliss/Documents/websites/website2020/website-mockup/css/styles.scss */
.image-our-work-1 {
  height: 20em; }

/* line 368, /Users/benbayliss/Documents/websites/website2020/website-mockup/css/styles.scss */
.work-item {
  height: 35em; }

/*# sourceMappingURL=styles.css.map */