


/* ############################################################################################### */

:root { font-size: 16px }
@media (max-width: 500px) { :root { font-size: 14px } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background: #87cd33;
  color:white;
}

body {
  overflow: hidden;
/*  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;*/
  background-color: #3c3a36;
/*
  background: url("/misterben/img/bg_filmgrain.gif") no-repeat center center fixed; 
 
*/
  background: url("../img/bg_filmgrain.gif") no-repeat center center;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
          width: 100%;
          overflow: hidden;
  font-family: "Quicksand", monospace, sans-serif;
}

/* for mobile */
@media (max-width: 768px) {.classname:before {
    content: "";
    background-image: url(link of your image);
    -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    z-index: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    }
}


#videoBG {
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

@media (min-aspect-ratio: 16/9){
    #videoBG {
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9){
    #videoBG {
        width: auto;
        height: 100%;
    }
}


/*
.video-background {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
    z-index: -1;
}

#container {
  height: 500vh;
}
*/



h1 { 
  font-size: 5rem;
    color: orange;
}
h2 { font-size: 2rem }

img {
  width: auto;
  height: clamp(200px, 60vw, 550px);
/*    opacity: 0.7;*/
}

ul {
  padding-left: 1rem;
  list-style: none;
}

li {
  flex-shrink: 0;
/*  width: clamp(500px, 60vw, 800px);*/
  padding-right: 1rem;
}

header {height: 100vh}
/*footer {height: 50vh}*/

.beta {
    font-size:2rem  
}

footer div {
    font-size:1.52rem;
    font-weight: bold;
    padding-bottom: 2rem;
}

:any-link { color: orange; }

.df {
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  color: white;
    z-index: 9999;
}

.main-content {
  overflow-x: hidden;
}

.wrapper {
  display: flex;
}

.img-gallery:not(.last) {
  padding-bottom: 1rem;
}

.label-text .text {
  font-size: clamp(5rem, 6vw, 6rem);
  line-height: 1;
  font-weight: 900;
}

/*/############   old movie style  ##*/

#title{  opacity:0.7;}


/* hide background video play button on iphone an others */
/* This used to work for the parent element of button divs */
/* But it does not work with newer browsers, the below doesn't hide the play button parent div */

*::-webkit-media-controls-panel {
  display: block;
  -webkit-appearance: none;
}

/* Old shadow dom for play button */

*::-webkit-media-controls-play-button {
  display: none!important;
  -webkit-appearance: none;
}

/* New shadow dom for play button */

/* This one works! */

*::-webkit-media-controls-start-playback-button {
  display: none!important;
  -webkit-appearance: none;
}

/* ############# contact form ######### */

footer div span.wobble {
    display:inline-block;
    text-align: center;
    width: 100%;
    color: orange;
}

/* reset */
#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm fieldset,
#fs-frm optgroup,
#fs-frm label,
#fs-frm #card-element:disabled {
  font-family: inherit;
  font-size: 100%;
  color: inherit;
  border: none;
  border-radius: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}
#fs-frm label,
#fs-frm legend,
#fs-frm ::placeholder {
  font-size: .82rem;
  margin-bottom: .5rem;
  padding-top: .2rem;
  display: flex;
  align-items: baseline;
}

#fs-frm label {
    font-size: 1.2rem;
}

#fs-frm [type="submit"] {
    font-size: 1.2rem;
}

/* border, padding, margin, width */
#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm #card-element {
  border: 5px solid rgba(0,0,0,0.2);
  border-radius: 13px;
  background-color: rgba(255,255,255,0.9);
  padding: .75em 1rem;
  margin-bottom: 1.5rem;
}
#fs-frm input:focus,
#fs-frm select:focus,
#fs-frm textarea:focus {
  background-color: white;
  outline-style: solid;
  outline-width: thin;
  outline-color: gray;
  outline-offset: -1px;
}
#fs-frm [type="text"],
#fs-frm [type="email"] {
  width: 100%;
}
#fs-frm [type="button"],
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  width: auto;
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}
#fs-frm [type="button"]:focus,
#fs-frm [type="submit"]:focus,
#fs-frm [type="reset"]:focus {
  outline: none;
}
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  margin-bottom: 0;
}
#fs-frm select {
  text-transform: none;
}

#fs-frm [type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  appearance: checkbox;
  display: inline-block;
  width: auto;
  margin: 0 .5em 0 0 !important;
}

#fs-frm [type="radio"] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
  appearance: radio;
}

/* address, locale */
#fs-frm fieldset.locale input[name="city"],
#fs-frm fieldset.locale select[name="state"],
#fs-frm fieldset.locale input[name="postal-code"] {
  display: inline;
}
#fs-frm fieldset.locale input[name="city"] {
  width: 52%;
}
#fs-frm fieldset.locale select[name="state"],
#fs-frm fieldset.locale input[name="postal-code"] {
  width: 20%;
}
#fs-frm fieldset.locale input[name="city"],
#fs-frm fieldset.locale select[name="state"] {
  margin-right: 3%;
}